@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

h1 {
  font-family: "Dosis", sans-serif;
  font-weight: bold;
  font-size: 70px;
}

h2 {
  font-family: "Dosis", sans-serif;
  font-weight: bold;
  font-size: 36px;
}

p {
    font-family: 'Kanit', sans-serif;
  font-size: 18px;
  font-weight: normal;
}
